body
{
    background-color: #000000;
}
*
{
box-sizing: border-box;
}
.caixa
{
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-family: 'East Sea Dokdo', cursive;
    text-shadow:0px 0px 10px #000000;
    width:150px ;
    height:150px ;
    color:black;
    background-color:rgb(255, 255, 255);
    padding: 50px 50px;
    margin: 50px 50px 20px 30px;
    text-decoration:underline;
}
.caixa2
{
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-style: oblique;
    font-family: 'East Sea Dokdo', cursive;
    text-shadow:0px 0px 10px #000000;
    width:150px ;
    height:150px ;
    color:black;
    background-color:rgb(255, 255, 255);
    padding: 50px 50px;
    margin: 50px 50px 20px 30px;
    text-decoration:underline;
}
button
{
    font-family: 'East Sea Dokdo', cursive;
    border: 2px solid black;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding:1px 0.5px;
    


}
